{% extends 'base/base.loggedIn.html.twig' %}

{% block title %}
	Search Trains
{% endblock %}

{% block content %}
	<div class="row">
		<div class="col-md-12"><h1>Search Trains</h1></div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<ol class="breadcrumb">
				<li><a href="/user/dashboard">User</a></li>
				<li class="active">Trains</li>
			</ol>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
			{% if trainNumberError is defined %}<div class="alert alert-danger" role="alert"><strong>Error!</strong> Train Number is invalid</div>{% endif %}
			<form action="/train/schedule" method="post" novalidate>
				<div class="form-group">
					<input type="text" class="form-control" name="input_trainNumber" id="input_trainNumber" placeholder="Train Number">
				</div>
				<button type="submit" class="btn btn-default">Submit</button>
			</form>
		</div>
	</div>
{% endblock %}
