{# app/Resources/views/login.html.twig #}
{% extends 'base.loggedIn.html.twig' %}

{% block title %}
    Add School Info
{% endblock %}

{% block content %}
<h1>Add School Info</h1>
	
		<form>
		  School Email Address:
		  <input type="text" name="schoolEmailID">
		  <a href = "mainMenu">Submit</a>
		</form>

	<font size="1.5">Your school email address ends with .edu</font>
	
<br>
<br>
    <a href = "mainMenu">Back</a>
	
{% endblock %}