{# app/Resources/views/login.html.twig #}
{% extends 'base.loggedIn.html.twig' %}

{% block title %}
    Travel Extras
{% endblock %}

{% block content %}
<h1>Travel Extras & Passenger Info</h1>
	<p>
		Number of Baggage:
		<select>
			<option value="0">0</option>
		    <option value="1">1</option>
		    <option value="2">2</option>
		    <option value="3">3</option>
		</select> 
		<br>
		<font size="1.5">Every passenger can bring up to 4 baggage. 2 free of charge, 2 for $30 per bag</font>
	</p>
	<p>		
		<form>
		  Passenger Name:<br>
		  <input type="text" name="passengerName"><br>
		</form>
	</p>
	
    <a href = "selectDeparture.html">Back</a>
	<a href = "makeReservation.html">Next</a>
{% endblock %}