{# app/Resources/views/login.html.twig #}
{% extends 'base.loggedIn.html.twig' %}

{% block title %}
    Cancel Reservation
{% endblock %}

{% block content %}
     <h1>Make Reservation</h1>
	<p>
		<table style="width:100%">
		  <tr>
			<td>Train (Train Number)</td>
			<td>Time (Duration)</td> 
			<td>Departs From</td>
			<td>Arrives At</td>
			<td>Class</td>
			<td>Price</td>
			<td># of Baggage</td>
			<td>Passenger Name</td>
		  </tr>
		</table>
	</p>
	<p>
		Total Cost of Reservation:
		<br>
		Date of Cancellation:
		<br>
		Amount to be Refunded:
		<br>
	</p>
	<a href = "mainMenu">Submit</a>
<br>
<br>
    <a href = "cancelReservationSearch">Back</a>
	
{% endblock %}