{# app/Resources/views/login.html.twig #}
{% extends 'base.loggedIn.html.twig' %}

{% block title %}
    Cancel Reservation Search
{% endblock %}

{% block content %}
         <h1>Cancel Reservation</h1>
	<p>
		<form>
		  Reservation ID:
		  <input type="text" name="RID">
		  <a href = "cancelReservation.html">Search</a>
		</form>
	</p>
	
    <a href = "mainMenu.html">Back</a>

{% endblock %}