{# app/Resources/views/login.html.twig #}
{% extends 'base/base.loggedIn.html.twig' %}

{% block title %}
    Confirmation
{% endblock %}

{% block content %}
         <h1>Confirmation</h1>
	<p>
		Reservation ID: {{ reservationId }}
		<br>
		<br>
		<font size="2">Thank you for your purchase! Please save Reservation ID for your records</font>
	</p>
	
    <a href = "mainMenu">Go Back to Choose Functionality</a>

{% endblock %}