{# app/Resources/views/login.html.twig #}
{% extends 'base.loggedIn.html.twig' %}

{% block title %}
    Give Review
{% endblock %}

{% block content %}
<h1>Give Review</h1>
	
	<p>		
		<form method = "post" action="/giveReview">
		  Train Number:<br>
		  <input type="text" name="trainNumberReview"><br><br>
		  Rating:
			<select name="rating">
				<option value="5">Very Good</option>
				<option value="4">Good</option>
				<option value="3">Neutral</option>
				<option value="2">Bad</option>
				<option value="1">Very Bad</option>
			</select> <br><br>
		  Comment:<br>
		  <input type="text" name="commentReview"><br>
		
			</p><br>
			<input type="submit" value="Submit">
		</form>
<br>
<br>
	<br>

    <a href = "mainMenu">Back</a>
	
{% endblock %}