{# app/Resources/views/login.html.twig #}
{% extends 'base.loggedIn.html.twig' %}

{% block title %}
    Main Menu
{% endblock %}

{% block content %}
    <h1>Choose Functionality</h1>
	<p>
		<a href = "viewSchedule">View Train Schedule</a><br>
		<a href = "makeReservation">Make a New Reservation</a><br>
		<a href = "updateReservation_search">Update a Reservation</a><br>
		<a href = "cancelReservationSearch">Cancel a Reservation</a><br>
		<a href = "giveReview">Give Review</a><br>
		<a href = "addSchoolInfo">Add School Information (Student Discount)</a><br>
		<br>
		<br>
		<a href = "???">Log Out</a>
	</p>
{% endblock %}
