{# app/Resources/views/login.html.twig #}
{% extends 'base.loggedIn.html.twig' %}

{% block title %}
    Main Menu
{% endblock %}

{% block content %}
    <h1>Choose Functionality</h1>
	<p>
		<a style="font-size:18px" href = "trainSchedule/search">View Train Schedule</a><br>
		<a style="font-size:18px" href = "searchTrain">Make a New Reservation</a><br>
		<a style="font-size:18px" href = "reservation/search">Update a Reservation</a><br>
		<a style="font-size:18px" href = "cancelReservationSearch">Cancel a Reservation</a><br>
		<a style="font-size:18px" href = "giveReview">Give Review</a><br>
		<a style="font-size:18px" href = "viewReviewSearch">View Review</a><br>
		<a style="font-size:18px" href = "addSchoolInfo">Add School Information (Student Discount)</a><br>
		<br>
		<br>
	</p>

{% endblock %}
