{# app/Resources/views/login.html.twig #}
{% extends 'base/base.loggedIn.html.twig' %}

{% block title %}
    Main Menu
{% endblock %}

{% block content %}
	<div class="row">
		<div class="col-md-12">
			<h1>User Dashboard</h1>
		</div>

	</div>
	<div class="row">
		<ol class="breadcrumb">
			<li class="active">User</li>
		</ol>
	</div>
	<div class="row">
		<div class="col-md-12">
			<p><a style="font-size:18px" href = "/train/schedule/search">View Train Schedule</a></p>
			<p><a style="font-size:18px" href = "/reservation/searchTrain">Make a New Reservation</a></p>
			<p><a style="font-size:18px" href = "/reservation/search">Update a Reservation</a></p>
			<p><a style="font-size:18px" href = "/cancelReservationSearch">Cancel a Reservation</a></p>
			<p><a style="font-size:18px" href = "/review/give">Give Review</a></p>
			<p><a style="font-size:18px" href = "/review/search">View Review</a></p>
			<p><a style="font-size:18px" href = "/addSchoolInfo">Add School Information (Student Discount)</a></p>
		</div>
	</div>
{% endblock %}
