{# app/Resources/views/login.html.twig #}
{% extends 'base.loggedIn.html.twig' %}

{% block title %}
    Make Reservation
{% endblock %}

{% block content %}
 <h1>Make Reservation</h1>
	<p>
		<table style="width:100%">
		  <tr>
			<td>Train (Train Number)</td>
			<td>Time (Duration)</td> 
			<td>Departs From</td>
			<td>Arrives At</td>
			<td>Class</td>
			<td>Price</td>
			<td># of Baggage</td>
			<td>Passenger Name</td>
			<td>Remove</td>
		  </tr>
		</table>
	</p>
	<p>
		Total Cost:
	</p>
	<p>
		Use Card: 
		<select>
			
		</select> 
		<a style="font-size:12px" href = "paymentInfo">Add Card</a>
	</p>
	<p>
		<a style="font-size:12px" href = "searchTrain">Continue Adding a Train</a>
	</p>
	<a href = "confirmation">Submit</a>
<br>
<br>
    <a href = "baggage">Back</a>
{% endblock %}