{# app/Resources/views/login.html.twig #}
{% extends 'base.loggedIn.html.twig' %}

{% block title %}
    Main Menu
{% endblock %}

{% block content %}
    <h1>Choose Functionality</h1>
	<p>
		<a style="font-size:18px" href = "revenueReport">View Revenue Report</a><br>
		<a style="font-size:18px" href = "popularRoute">View Popular Route Report</a><br>
		<br>
		<br>
		<a href = "???">Log Out</a>
	</p>
{% endblock %}
