{# app/Resources/views/login.html.twig #}
{% extends 'base.loggedIn.html.twig' %}

{% block title %}
    Main Menu
{% endblock %}

{% block content %}
    <h1>Choose Functionality</h1>
	<p>
		<a href = "revenueReport.html.twig">View Revenue Report</a><br>
		<a href = "popularRoute.html.twig">View Popular Route Report</a><br>
		<br>
		<br>
		<a href = "???">Log Out</a>
	</p>
{% endblock %}
