{# app/Resources/views/login.html.twig #}
{% extends 'base/base.loggedIn.html.twig' %}

{% block title %}
    Payment Info
{% endblock %}

{% block content %}
   <h1>Payment Information</h1>

	<br>
	<h3>Add Card</h3>
	<p>		
                    {% if error.PAYMENT_FAILED is defined %}<div class="alert alert-danger" role="alert"><strong>Error!</strong> Payment failed</div>{% endif %}
		     <form method = "post" action="getPaymentInfo">
                        <div class="form-group{% if error.PAYMENT_FAILED is defined%} has-error{% endif %}">
		            Name on Card:<br>
		            <input type="text" name="cardName", id="cardName" placeholder="Full Name"><br>
                            {% if error.CARDNAME_INVALID is defined %}<span id="helpBlock1" class="help-block">Name on card is empty.</span>{% endif %}
		            Card Number:<br>
		            <input type="text" name="cardNumber" id="cardNumber" placeholder="16-digit card number"><br>
                            {% if error.CARDNUMBER_INVALID is defined %}<span id="helpBlock1" class="help-block">Card number is invalid. Please enter a valid card number.</span>{% endif %}
		            CVV:<br>
		            <input type="text" name="cardCVV" id="cardCCV" placeholder="3-digit CCV"><br>
                            {% if error.CARDCVV_INVALID is defined %}<span id="helpBlock1" class="help-block">Card CVV is invalid.</span>{% endif %}
		            Expiration Date (mm/yyyy):<br>
		            <input type="text" name="cardExpDate" id="cardExpDate" placeholder="mm/yyyy"><br>
                            {% if error.CARDEXPDATE_INVALID is defined %}<span id="helpBlock1" class="help-block">Card Expiration Date is invalid.</span>{% endif %}
                        </div>
                        <input type="submit" value = "Submit">
		     </form>
	</p>
	
	<br>
	<h3>Delete Card</h3>
        {% if error.DELETE_CARD_FAILED is defined %}<div class="alert alert-danger" role="alert"><strong>Error! </strong>Could not delete card - it is currently in use for a pending transaction.</div>{% endif %}
        <form method = "post" action="getDeleteInfo"> 
	<p>
		Card Number:
		<select id = "Added Cards", name="cardNumber">
                {%for card in cards%}
                <option value={{card['Card_Number']}}>{{card['Card_Number']}}</option>
                {% endfor %}
		</select> 
	</p>
        <input type="submit" value="Submit">
        </form>

{% endblock %}
