{# app/Resources/views/login.html.twig #}
{% extends 'base.loggedIn.html.twig' %}

{% block title %}
    Payment Info
{% endblock %}

{% block content %}
   <h1>Payment Information</h1>

	<br>
	<h3>Add Card</h3>
	<p>		
		<form>
		  Name on Card:<br>
		  <input type="text" name="cardName"><br>
		   Card Number:<br>
		  <input type="text" name="cardNumber"><br>
		   CVV:<br>
		  <input type="text" name="cardCVV"><br>
		   Expiration Date (mm/yyyy):<br>
		  <input type="text" name="cardExpDate"><br>
		</form>
	</p>
	
    <a href = "makeReservation.html.twig">Submit</a>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<h3>Delete Card</h3>
	<p>
		Card Number:
		<select>
		</select> 
	</p>

	<a href = "makeReservation.html.twig">Submit</a>
{% endblock %}