{# app/Resources/views/login.html.twig #}
{% extends 'base.loggedIn.html.twig' %}

{% block title %}
    Popular Route Report
{% endblock %}

{% block content %}
 <h1>View Popular Route Report</h1>
	<p>
		<table style="width:100%">
		  <tr>
			<td>Month</td>
			<td>Train Number</td> 
			<td># of Reservations</td>
		  </tr>
		{% for row in results %}
			<tr>
				<td>
					{{ row[0] }}
				</td>
				<td>
					Train {{ row[1] }}
				</td>
				<td>
					{{ row[2] }}
				</td>
			</tr>
		{% endfor %}
		</table>
	</p>

    <a href = "managerChooseFunctionality">Back</a>
{% endblock %}