{# app/Resources/views/login.html.twig #}
{% extends 'base.loggedIn.html.twig' %}

{% block title %}
    Revenue Report
{% endblock %}

{% block content %}
 <h1>View Revenue Report</h1>
	<p>
		<table style="width:100%">
		  <tr>
			<th>Month</th>
			<th>Revenue</th>
		  </tr>
	{% for i in (0..2)%}
			<tr>
				<td>{{ results[i][0] }}</td>
				<td>{{ results[i][1] }}</td>
			</tr>
	{% endfor %}
		</table>
	</p>
	
    <a href = "managerChooseFunctionality">Back</a>
{% endblock %}