{# app/Resources/views/login.html.twig #}
{% extends 'base.loggedIn.html.twig' %}

{% block title %}
    Revenue Report
{% endblock %}

{% block content %}
 <h1>View Revenue Report</h1>
	<p>
		<table style="width:100%">
		  <tr>
			<td>Month</td>
			<td>Revenue</td> 
		  </tr>
		</table>
	</p>
	
    <a href = "managerChooseFunctionality">Back</a>
{% endblock %}