{# app/Resources/views/login.html.twig #}
{% extends 'base.loggedIn.html.twig' %}

{% block title %}
    Search Train
{% endblock %}

{% block content %}
    <h1>Search Train</h1>
	<p>Departs from:
	<select>
		  <option value="boston">Boston</option>
		    <option value="new york">New York</option>
		      <option value="los angeles">Los Angeles</option>
		        <option value="miami">Miami</option>
	</select>
	</p>
	<p>Arrives at:
	<select>
		  <option value="volvo">Boston</option>
		    <option value="saab">New York</option>
		      <option value="mercedes">Los Angeles</option>
		        <option value="audi">Miami</option>
       </select>
       </p>
       <br>
       Departure Date: <input type="text" name="fname"><br>
       <br>
       <a href = "selectDeparture.html">Find Trains</a>
{% endblock %}