{# app/Resources/views/login.html.twig #}
{% extends 'base.loggedIn.html.twig' %}

{% block title %}
    Update Reservation Select
{% endblock %}

{% block content %}
 <h1>Update Reservation</h1>

         <table stBackyla="width:100%">
         <form>		 
	  <tr>
            <th>Select 
	    <th>Train(Train Number)
	    <th>Time(Duration)
	    <th>Departs From
	    <th>Arrives At
	    <th>Class
	    <th>Price
	    <th>#of Baggages
	    <th>Passenger Name
	  <tr>
	    <td><input type = "radio" name="select" value = "1"></td>
	    <td>Jill</td>
	    <td>Smith</td> 
	    <td>50</td>
	    <td>50</td>
	    <td>50</td>
	    <td>50</td>
	    <td>50</td>
	    <td>50</td>
	  </tr>
	  <tr>
	    <td><input type = "radio" name="select" value = "1"></td>
	    <td>Eve</td>
	    <td>Jackson</td> 
	    <td>94</td>
	    <td>50</td>
	    <td>50</td>
	    <td>50</td>
	    <td>50</td>
	    <td>50</td>
	  </tr>
	</table>
	<button type = "button" onclick="location.href='updateReservation_search';">
	Back</button>
	<button type = "button" onclick="location.href='updateReservation_update';">
	Next</button>
         </form>
{% endblock %}