{# app/Resources/views/login.html.twig #}
{% extends 'base.loggedIn.html.twig' %}

{% block title %}
    Update Reservation Search
{% endblock %}

{% block content %}
         <h1>Update Reservation</h1>
	 Reservation ID:<input type="text" name="RIDUpdate">
	 <input type = "submit" value="Search"> <br>
	 <a href = "/mainMenu">
	 Back</a>
	 <a href = "select">
	Next</a>
{% endblock %}
