{# app/Resources/views/login.html.twig #}
{% extends 'base.loggedIn.html.twig' %}

{% block title %}
    Update Reservation 
{% endblock %}

{% block content %}
  <h1>Update Reservation</h1>

         <table stBackyla="width:100%">
         <form>		 
	  <tr>
	    <th>Train(Train Number)
	    <th>Time(Duration)
	    <th>Departs From
	    <th>Arrives At
	    <th>Class
	    <th>Price
	    <th>#of Baggages
	    <th>Passenger Name
	  <tr>
	    <td><input type = "radio" name="select" value = "1"></td>
	    <td>Jill</td>
	    <td>Smith</td> 
	    <td>50</td>
	    <td>50</td>
	    <td>50</td>
	    <td>50</td>
	    <td>50</td>
	    <td>50</td>
	  </tr>
	  <tr>
	    <td><input type = "radio" name="select" value = "1"></td>
	    <td>Eve</td>
	    <td>Jackson</td> 
	    <td>94</td>
	    <td>50</td>
	    <td>50</td>
	    <td>50</td>
	    <td>50</td>
	    <td>50</td>
	  </tr>
	</table>
	 New Departure Date:<input type="text" name="departDate">
	 <input type="submit" value="Search Availability">
	 <!--Need to add new table here using PHP if there are availabilities.-->

         <table stBackyla="width:100%">
	  <tr>
	    <th>Train(Train Number)
	    <th>Time(Duration)
	    <th>Departs From
	    <th>Arrives At
	    <th>Class
	    <th>Price
	    <th>#of Baggages
	    <th>Passenger Name
        </table>
	<button type = "button" onclick="location.href='select'">
	Back</button>
	<input type = "submit" value="Submit">
         </form>
{% endblock %}
