{# app/Resources/views/login.html.twig #}
{% extends 'base.loggedIn.html.twig' %}

{% block title %}
     View Review
{% endblock %}

{% block content %}
	<h1>View Review</h1>
	<p>
		<table style="width:100%">
		  <tr>
			<td>Rating</td>
			<td>Comment</td>
		  </tr>
		</table>
	</p>
	
    <a href = "mainMenu">Back to Choose Functionality</a>

{% endblock %}