{# app/Resources/views/login.html.twig #}
{% extends 'base/base.loggedOut.html.twig' %}

{% block title %}
    Registration
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Register</h3>
                </div>
                <div class="panel-body">
                    <form action="/register" method="post" novalidate>
                        <div class="form-group{% if USERNAME_EMPTY is defined or USERNAME_TAKEN is defined%} has-error{% endif %}">
                            <input type="text" class="form-control" name="input_username" id="input_username" placeholder="username" {% if prev_username is defined %}value="{{ prev_username }}"{% endif %}>
                            {% if USERNAME_EMPTY is defined %}<span id="helpBlock1" class="help-block">Username is empty. Please enter a Username</span>{% endif %}
                            {% if USERNAME_TAKEN is defined %}<span id="helpBlock2" class="help-block">Username is taken. Please choose a different Username</span>{% endif %}
                        </div>
                        <div class="form-group{% if EMAIL_TAKEN is defined or EMAIL_INVALID is defined%} has-error{% endif %}">
                            <input type="email" class="form-control" name="input_email" id="input_email" placeholder="name@email.com" {% if prev_email is defined %}value="{{ prev_email }}"{% endif %}>
                            {% if EMAIL_INVALID is defined %}<span id="helpBlock3" class="help-block">Email is invalid. Please enter a valid Email</span>{% endif %}
                            {% if EMAIL_TAKEN is defined %}<span id="helpBlock4" class="help-block">Email is taken. Please choose a different Email</span>{% endif %}
                        </div>
                        <div class="form-group{% if PASSWORD_EMPTY is defined or PASSWORD_MATCH is defined %} has-error{% endif %}">
                            <input type="password" class="form-control" name="input_password" id="input_password" placeholder="Password">
                            {% if PASSWORD_EMPTY is defined %}<span id="helpBlock6" class="help-block">Password is empty. Please enter a Password</span>{% endif %}
                            {% if PASSWORD_MATCH is defined %}<span id="helpBlock6" class="help-block">Passwords do not match.</span>{% endif %}
                        </div>
                        <div class="form-group{% if PASSWORD_2_EMPTY is defined or PASSWORD_MATCH is defined %} has-error{% endif %}">
                            <input type="password" class="form-control" name="input_password_2" id="input_password_2" placeholder="Password">
                            {% if PASSWORD_2_EMPTY is defined %}<span id="helpBlock6" class="help-block">Password Confirmation is empty. Please re-enter your password</span>{% endif %}
                            {% if PASSWORD_MATCH is defined %}<span id="helpBlock6" class="help-block">Passwords do not match.</span>{% endif %}
                        </div>
                        <button type="submit" class="btn btn-default">Submit</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-6">right side</div>
    </div>
{% endblock %}
