{% extends 'base/base.loggedIn.html.twig' %}

{% block title %}
	Select Departure
{% endblock %}

{% block content %}
	<div class="row">
		<div class="col-md-12"><h1>Select Departure</h1></div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<ol class="breadcrumb">
				<li>Reservation</li>
				<li><a href="/reservation/searchTrain">Search Train</a></li>
				<li class="active">Select Departure</li>
			</ol>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
			<table class="table table-bordered">
				<thead>
				<tr><th>Train</th><th>Time (Duration)</th><th>1st Class Price</th><th>2nd Class Price</th></tr>
				</thead>
				<tbody>
					<tr><td>Train 1</td><td>5 minutes</td><td>$3.50</td><td>$7.00</td></tr>
					<tr><td>Train 2</td><td>5 minutes</td><td>$3.50</td><td>$7.00</td></tr>
					<tr><td>Train 3</td><td>5 minutes</td><td>$3.50</td><td>$7.00</td></tr>
				</tbody>
			</table>
		</div>
		<div class="col-md-6">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Info</h3>
				</div>
				<div class="panel-body">
					<p>Departs from: {{ inputs.departStation }}</p>
					<p>Arrives at: {{ inputs.arriveStation }}</p>
					<p>Date: {{ inputs.date }}</p>
				</div>
			</div>
		</div>
	</div>
{% endblock %}