{# app/Resources/views/login.html.twig #}
{% extends 'base/base.loggedIn.html.twig' %}

{% block title %}
    Search Train
{% endblock %}

{% block content %}
    <h1>Search Train</h1>
	<form method = "post" action="/selectTrain">
	<p>Departs from:
	<select name="departStation">
		{% for station in stations %}
        <option value="{{ station[0]}}">{{station[0]}}</option>
    	{% endfor %}
	</select>
	</p>
	<p>Arrives at:
	<select name="arriveStation">
		{% for station in stations %}
        <option value="{{station[0]}}">{{station[0]}}</option>
    	{% endfor %}
    </select>
    </p>
   <br>
   Departure Date: <input type="text" name="reservationDate"><br><br>
		<button type="submit" class="btn btn-default">Find Trains</button>
   </form>
{% endblock %}
