{% extends 'base/base.loggedIn.html.twig' %}

{% block title %}
    Travel Extras & Passenger Info
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12"><h1>Travel Extras & Passenger Info</h1></div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <ol class="breadcrumb">
                <li>Reservation</li>
                <li><a href="/reservation/searchTrain">Search Train</a></li>
                <li><a href="/reservation/selectDeparture">Select Departure</a></li>
                <li class="active">Travel Info</li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">

        </div>
    </div>
{% endblock %}