{% extends 'base/base.loggedIn.html.twig' %}

{% block title %}
	Search Reservations
{% endblock %}

{% block content %}
	<div class="row">
		<div class="col-md-12"><h1>Search Reservations</h1></div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<ol class="breadcrumb">
				<li><a href="/user/dashboard">User</a></li>
				<li></li>Reservation</a></li>
				<li class="active">Search</li>
			</ol>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Reservation Search</h3>
				</div>
				<div class="panel-body">
					<form method = "post" action="/reservation/search">
						<div class="form-group{% if RESERVATION_BLANK is defined or RESERVATION_INVALID is defined%} has-error{% endif %}">
							<input type="text" class="form-control" id="input_reservationNumber" name="input_reservationNumber" placeholder="Reservation Number">
							{% if RESERVATION_BLANK is defined %}<span id="helpBlock1" class="help-block">Reservation ID is empty. Please enter a Reservation ID</span>{% endif %}
							{% if RESERVATION_INVALID is defined %}<span id="helpBlock1" class="help-block">Reservation ID is invalid. Please enter another Reservation ID</span>{% endif %}
						</div>
						<input type="submit" class="btn btn-default" value = "Search">
					</form>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
