{% extends 'base/base.loggedIn.html.twig' %}

{% block title %}
	Update Reservation
{% endblock %}

{% block content %}
	<div class="row">
		<div class="col-md-12"><h1>Update Reservation {{ reservationID }}</h1></div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<ol class="breadcrumb">
				<li><a href="/user/dashboard">User</a></li>
				<li></li>Reservation</a></li>
				<li class="active">Update</li>
			</ol>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<table class="table table-bordered">
				<thead>
				<tr><th>Select</th><th>Train</th><th>Duration</th><th>Departs from</th><th>Arrives at</th><th>Class</th><th>Price</th><th># of Bags</th><th>Passenger name</th></tr>
				</thead>
				<tbody>
				<tr>
					<td>
						<div class="radio">
							<label>
								<input type="radio" name="blankRadio" id="blankRadio1" value="train1">
							</label>
						</div>
					</td>
					<td>2163 Express</td>
					<td>Jan 11</td>
					<td>Boston</td>
					<td>New York Penn</td>
					<td>2nd Class</td>
					<td>$115</td>
					<td>3</td>
					<td>Alier Hu</td>
				</tr>
				<tr>
					<td>
						<div class="radio">
							<label>
								<input type="radio" name="blankRadio" id="blankRadio1" value="train2">
							</label>
						</div>
					</td>
					<td>2163 Express</td>
					<td>Jan 11</td>
					<td>Boston</td>
					<td>New York Penn</td>
					<td>2nd Class</td>
					<td>$115</td>
					<td>3</td>
					<td>Alier Hu</td>
				</tr>
				</tbody>
			</table>
		</div>
	</div>
{% endblock %}
